<footer>
    <div class="container">
        <div class="about">
                <img src="../../assets/logo.png" alt="Delicate Nails"/>
                <p>Va multumesc ca imi sunteti alaturi!</p>
                <p>Cu prietenie, Larisa</p>
        </div>
        <div class="info">
            <h4>Informatii</h4>
            <ul class="infos">
                <li><a routerLinkActive="active" routerLink="/about">Despre</a></li>
                <li><a routerLinkActive="active" routerLink="/pay_delivery">Plata si livrare</a></li>
                <li><a href="#">Termeni si conditii</a></li>
                <li><a routerLinkActive="active" routerLink="/return">Retur</a></li>
                <li><a href="#">Politica de confidentialitate</a></li>
                <li><a href="#">ANPC</a></li>
            </ul>
        </div>
        <div class="contact">
            <h4>Contact</h4>
            <ul class="contacts">
                <li>
                    <span><i class="bi bi-map" aria-hidden="true"></i></span>
                    <span>Brasov, Romania</span>
                </li>
                <li>
                    <span><i class="bi bi-telephone" aria-hidden="true"></i></span>
                    <span>0746 267 721</span>
                </li>
                <li>
                    <span><i class="bi bi-envelope" aria-hidden="true"></i></span>
                    <span>delicatenails@gmail.com</span>
                </li>
                <li class="media">
                    <span><a href="#" class="bi bi-facebook fi"></a></span>
                    <span><a href="#" class="bi bi-instagram fi"></a></span>
                </li>
            </ul>
        </div>
    </div>
</footer>