* {
    font-family: 'Lora';
    box-sizing: border-box;
}

.container-pg {
    .row {
        .col {
            padding: 30px 40px;

            //background-image: url("../../../assets/newsletter2.png");
            h2 {
                text-shadow: 2px 2px 2px black;
                margin-left: 110px;
            }
        }
    }

    .row {
        .col-3 {
            //background-color: rgb(255, 255, 255);
            padding-left: 50px;
            padding-right: 50px;
        }

        .col-9 {
            padding-bottom: 50px;
            padding-right: 50px;
            display: flex;

            //gap: 10px;
            .container-acc {
                background-color: rgb(229, 214, 237);
                width: 1090px;
                padding: 30px;
                box-shadow: 1px 1px 14px 7px black;
                border-radius: 2px;

                .row {
                    padding-top: 20px;
                    padding-bottom: 20px;

                    .col {
                        display: flex;
                        justify-content: center;

                        .container-appointment {
                            background-color: #fff;
                            padding: 15px;
                            width: 300px;
                            border-radius: 3px;

                            .details {

                                display: flex;
                                justify-content: space-between;
                            }

                            button {
                                border: none;
                                background-color: black;
                                color: white;
                                padding: 5px;
                                width: 100%;
                                margin-top: 10px;
                                border-radius: 2px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.trecut {
    opacity: 0.5;
}