<div class="container-pg">
    <h3>Termeni si conditii pentru returnarea produselor</h3>
    <div class="return">
        <p>Conform Ordonantei nr. 34/2014, privind regimul juridic al contractelor la distanta, produsele se returneaza
            in
            termen de 14 zile calendaristice, de la primirea coletului.</p>
        <p>In situatia mentionata mai sus, clientii pot returna, in termenul prevazut mai sus, produsele cumparate: cu
            eticheta,
            cu toate accesoriile aferente, fara urme de uzura, fara ambalaj.</p>
        <p>Daca ati achizitionat mai multe produse de acelasi fel si doriti sa le returnati pe toate, doar unul dintre
            produse poate fi desigilat, restul produselor fiind acceptate doar in cazul in care sunt sigilate (in cazul
            produselor sigilate de catre producator, cu scopul de a proteja continutul).</p>
        <p>Conform prevederii OUG 34/2014 „utilizatorul final este responsabil doar in ceea ce priveste diminuarea
            valorii produselor rezultata din manipularea acestora, diferit de ceea ce este necesar pentru determinarea
            naturii, caracteristicilor si functionarii produselor. Diminuarea valorii produselor nu trebuie să fie
            descurajantă pentru utilizatorul final în a-și exercita dreptul de retragere.” Drept urmare, in cazul in
            care consumatorul returneaza produsul intr-o stare ce diminueaza valoarea acestuia, comerciantului i se
            permite sa scada o parte din suma returnata clientului.
        </p>
    </div>
</div>