<div class="account-container">
    <div class="row">
        <div class="col">
            <div class="title">
                <h2>Cont</h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <app-account-menu></app-account-menu>
        </div>

        <div class="col-9">
            <div class="row">
                <div class="container-acc">
                    <div>
                        <div class="header-ord" >
                            <h5 class="info">Comanda nr. {{id_order}}</h5>
                        </div>
                        <h6 class="date">Data comada: {{order[0].order_date | date: 'dd.MM.yyyy'}}</h6>

                        <div class="container-order">
                            <h5 class="order-nr">Articole comanda</h5>
                            <div class="table">
                                <table>
                                    <thead>
                                        <tr >
                                            <th>Denumire articol</th>
                                            <th class="col-d">Pret</th>
                                            <th class="col-d">Cantitate</th>
                                            <th class="col-d">Pret total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let order of order;">
                                            <td>{{order.name}}</td>
                                            <td>{{order.price}} lei</td>
                                            <td>{{order.quantity}}</td>
                                            <td>{{order.price * order.quantity}} lei</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>

                                        <tr class="t-footer">
                                            <td colspan="3" class="align">Livrare:</td>
                                            <td>{{curierPrice}} lei</td>
                                        </tr>
                                        <tr class="t-footer">
                                            <th colspan="3" class="align">Cost total:</th>
                                            <td>{{order[0].total_price}} lei</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>

                        </div>
                        <div class="s">
                            <div class="container-order">
                                <h6 class="delivery-address title-s">Adresa de livrare</h6>
                                <address>
                                    {{order[0].shipping_address}}
                                </address>
                            </div>
                            <div class="container-order">
                                <h6 class="billing-address title-s">Adresa de facturare</h6>
                                <address>
                                    {{order[0].billing_address}}
                                </address>
                            </div>
                            <div class="container-order">
                                <h6 class="delivery-method title-s">Modalitate de livrare</h6>
                                <span>{{order[0].delivery_method}}</span>
                            </div>
                            <div class="container-order">
                                <h6 class="payment-method title-s">Modalitate de plata</h6>
                                <span>{{order[0].payment_method}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>