<div class="container-pg">
    <section class="container">
        <header>Autentificare</header>
        <form (ngSubmit)="onSubmit()" [formGroup]="reactiveForm" class="form">
            <div class="input-box">
                <label>Email</label>
                <input type="text" placeholder="nume.prenume@email.com" name="email" formControlName="email" required
                    email />
                <div class="err" *ngIf="submitted && f.email.errors">
                    <div *ngIf="f.email.errors.required">Completeaza o adresa de email</div>
                    <div *ngIf="f.email.errors.email">Adresa de email nu este valida</div>
                </div>
            </div>

            <div class="input-box">
                <span class="details">Parola</span>
                <input [type]="showpassword ? 'text': 'password'" placeholder="*********" name="password" class="test"
                    formControlName="password" required>
                <i (click)="toggleShow()" class="bi bi-eye eye" *ngIf=" showpassword"></i>
                <i (click)="toggleShow()" class="bi bi-eye-slash eye" *ngIf="!showpassword"></i>
                <div class="err" *ngIf="submitted && f.password.errors">
                    <div class="error-message" *ngIf="f.password.errors.required">Completeaza parola</div>
                </div>
            </div>

            <div class="links">
                <div class="register">
                    <span routerLinkActive="active" routerLink="/register">Nu ai inca un cont? Apasa aici.</span>
                </div>
                <div class="forgotp">
                    <span routerLinkActive="active" routerLink="/forgot-password">Ai uitat parola?</span>
                </div>
            </div>
            <button>Intra in cont</button>
        </form>
    </section>
</div>