<div class="container-pg">
    <section class="container">
        <header>Recuperare parola</header>
        <form (ngSubmit)="onSubmit()" [formGroup]="reactiveForm" class="form">
            <div class="input-box">
                <label>Introduceti mai jos adresa de email pentru a primi link-ul de resetare parola.</label>
                <input type="text" placeholder="nume.prenume@email.com" name="email" formControlName="email" required
                    email />
                <div class="err" *ngIf="submitted && f.email.errors">
                    <div *ngIf="f.email.errors.required">Completeaza o adresa de email</div>
                    <div *ngIf="f.email.errors.email">Adresa de email nu este valida</div>
                </div>
            </div>
            <div class="column">
                <div class="col-3">
                    <button class="back" routerLinkActive="active" routerLink="/login">Inapoi</button>
                </div>
                <div class="col-9">
                    <button>Reseteaza parola</button>
                </div>
            </div>
        </form>
    </section>
</div>