<div class="container-pg">
    <div class="image">
        <img class="img" src="../../assets/about.jpeg" alt="" />
    </div>
    <div class="text">
        <h4>Despre noi</h4>
        <div class="first-text hidden" id="first">
            <h5><strong>Misiune</strong></h5>
            <p>Ne angajam sa oferim produse de manichiura de cea mai inalta calitate, provenite de la branduri renumite
                din industrie.
                Ne propunem sa fim o sursa de incredere pentru profesionistii din domeniul manichiurii si pentru
                clientii care cauta
                servicii de calitate.
                Misiunea noastra este sa facilitam accesul la produse de top si sa promovam invatarea continua
                prin intermediul cursurilor noastre. Suntem dedicati in a oferi clientilor nostri o experienta
                exceptionala in
                ingrijirea si infrumusetarea unghiilor.</p>
        </div>
        <div class="second-text hidden" id="second">
            <h5><strong>Viziune</strong></h5>
            <p>Ne dorim sa fim lideri in industria produselor de manichiura, fiind recunoscuti pentru calitatea si
                varietatea
                produselor noastre. Avem in vedere extinderea si diversificarea gamei de branduri partenere, pentru a
                satisface toate
                nevoile profesionistilor in manichiura si a clientilor nostri. Ne propunem sa fim o sursa de inspiratie
                si inovatie
                pentru industria manichiurii, urmarind mereu cele mai noi tendinte si tehnologii.
                Viziunea noastra este sa fim o referinta in domeniu si sa contribuim la dezvoltarea comunitatii
                manichiuriste.</p>
        </div>
        <div class="third-text hidden" id="third">
            <h5><strong>Valori</strong></h5>
            <p>Calitatea superioara, inovatia si evolutia, profesionalismul si pasiunea pentru ceea ce e frumos, pentru
                arta
                mainilor sunt cateva din valorile noastre.
            </p>
        </div>
    </div>
</div>