* {
  box-sizing: border-box;
  font-family: "Lora";
  background-color: white;
}

.container-header-pg {
  header {
    padding: 40px;

    h1 {
      font-size: 22px;
      line-height: 28px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: #000;
    }

    .header-toolbar {
      padding: 20px 0px;
      display: flex;

      .filtre-final {
        display: flex;
        justify-content: end;
        gap: 30px;
      }

      .filters {
        position: relative;

        .filter-section {
          border: 1px solid black;
        }

        .bi-filter {
          padding-left: 5px;
        }

        .filters-container {
          .fi {
            position: absolute;
            z-index: 100;
          }

          li {
            list-style-type: none;
            cursor: pointer;
            padding: 10px;
            position: relative;
          }
        }
      }

      .sort-by {
        .sort {
          .sort-dropdown {
            border: none;

            .bi-chevron-down {
              padding-left: 10px;
            }
          }
        }

        .d {
          position: absolute;
          z-index: 100;
        }

        li {
          list-style-type: none;
          cursor: pointer;
          padding: 10px;
          padding-left: 20px;
          background-color: rgb(255, 255, 255);
          left: -26px;
          position: relative;
        }

        li:hover {
          background-color: #9d80ae;
        }
      }
    }
  }
}

.container-products {
  padding: 40px;

  .grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    .product {
      position: relative;
      margin-bottom: 25px;
      background: transparent;
      position: relative;
      transition: all 0.35s ease;
      text-align: center;
      border-right: 1px solid black;

      img {
        height: 250px;
        width: 250px;
        position: relative;
        display: block;
      }

      .buton-favorite {
        position: relative;
        //display: block;
        padding: 12px 15px;
        background-color: transparent;
        color: black;
        border: none;
        font-size: 16px;
        bottom: 257px;
        left: 108px;
        z-index: 10;
      }

      .bi-heart,
      .bi-heart-fill {
        display: block;
      }

      .buton-adauga {
        padding: 6px 20px;
        background-color: var(--button-bg-color);
        color: white;
        border: none;
        font-size: 16px;
        width: 200px;
        justify-content: center;
        background-image: linear-gradient(to right, #9d80ae, rebeccapurple);
        background-repeat: no-repeat;
        background-position: left bottom;
        background-size: 0% 100%;
        transition: background-size 0.6s ease-in-out;
      }

      .buton-adauga:hover {
        background-size: 100% 100%;
      }

      h4 {
        font-size: 17px;
        padding: 10px;
      }
    }

    .product:nth-child(5n) {
      border-right: none;
    }
  }
}

////////////////////// slider

.container-f {
  grid-row: 1 / span 5;

  mat-expansion-panel {
    border-bottom: 1px solid black;
    border-radius: 0px;

    mat-panel-title {
      padding-top: 15px;
      padding-bottom: 15px;
      font-weight: 600;
    }

    .category {
      ul {
        padding: 0px;
      }

      li {
        list-style-type: none;
      }

      li:hover {
        color: #9d80ae;
      }
    }

    .price-interval {
      display: flex;
      justify-content: space-between;

      .p {
        border-bottom: 1px solid black;

        .handle {
          border: none;
          outline: none;
          width: 35px;
        }
      }
    }

    mat-slider {
      width: 300px;
    }

    .brand {
      ul {
        padding: 0px;
      }

      li {
        padding: 5px;
        list-style-type: none;
      }

      label {
        padding-left: 5px;
      }

      input {
        background-color: rgb(0, 0, 0) !important;
      }
    }
  }
}

.d {
  width: -webkit-fill-available;
}

input[type="checkbox"]:checked {
  filter: brightness(0%);
}

.mat-mdc-slider.mdc-slider {
  filter: saturate(0);
}