<div class="container-pg">
    <h3>Plata si livrare</h3>
    <div class="text">
        <div class="delivery">
            <h4>Variante pentru primirea coletului</h4>
            <span>Va punem la dispozitie doua variante de livrare pe teritoriul Romaniei:</span>
            <ul>
                <li>ridicare personala de la sediu</li>
                <li>livrare prin curier</li>
            </ul>
            <span>Tarife:</span>
            <ul>
                <li>ridicare de la sediu - 5 lei</li>
                <li>livrare prin curier - 15 lei</li>
            </ul>
            <p>La comenzile de peste 250 lei, transportul este gratuit.</p>
            <span>Durata:</span>
            <ul>
                <li>pentru ridicarea de la sediu - 1 zi lucratoare din momentul plasarii comenzii</li>
                <li>pentru livrarea prin curier - intre 2 si 4 zile lucratoare din momentul plasarii comenzii</li>
            </ul>
            <p>Taxa de livrare se va aplica automat in functie de modalitatea aleasa, inainte de fianlizarea comenzii.
            </p>
        </div>
        <div class="pay">
            <h4>Modalitati de plata</h4>
            <ul>
                <li>Ramburs</li>
                <p>Contravaloarea comenzii se va achita la primirea produsului catre agentul firmei de curierat. Vei
                    primi o chitanta pentru suma achitate.</p>
                <li>Online cu card bancar</li>
                <p>Daca ai ales metoda de plata Online este necesar sa completezi un formular cu informatiile despre
                    cardul tau, in pagina securizata a procesatorului de plati.
                    Prin finalizarea comenzii, cumparatorul consimte ca toate datele furnizate de acesta, necesare
                    procesului de cumparare, sunt corecte, complete si adevarate la data plasarii comenzii.
                    O sa fie nevoie de numele titularului, numarul cardului, codul CVV si data expirarii pentru a procesa
                    platile cu cardul. Aceste date sunt necesare pentru procesarea platii si pentru finalizarea
                    comenzii.</p>
            </ul>
        </div>
    </div>
</div>